extends ../layout/main.pug

block content
  .container.align-center
  #enter.page.enterPage
  #qrcode.page.qrcodePage.disappear
    .panel
      .qrcode
      .loveshare#next
  #send.page.sendPage.disappear
    .gear.gear-lg.flower#flower-send
    .gear.btn-send#btn-send
  #game.page.gamePage.disappear
    .gear.btn-game-1#btn-game-1
    .gear.btn-game-2#btn-game-2
  #ipad.page.ipadPage.disappear
